body {
  background-color: black;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #08b0da;
  color: #fff;
  font-size: 1.8em; }

